/.vscode
/dataframe-300.cpg
/dataframe-300.dbf
/dataframe-300.prj
/dataframe-300.shp
/dataframe-300.shx
/df-dq-train.ipynb
/trained-500-1e-230.cpg
/trained-500-1e-230.dbf
/trained-500-1e-230.prj
/trained-500-1e-230.shp
/trained-500-1e-230.shx
/trained-500-1e.cpg
/trained-500-1e.dbf
/trained-500-1e.prj
/trained-500-1e.shp
/trained-500-1e.shx